body{
    margin: 0;
    font-family: sans-serif;
   
}
.container{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.city-form{
    display: flex;
    flex-direction: column;
   
}
.day{
    border-radius: 20px;
    border: 1px black solid;
    padding: 10px 5px;
    
}
.days-wrapper{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}